header {
  height: 40px;
  width:100%
}
.header-left {
  width: 400px;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  color: #42cea9;;
  background-color: #ffffff;
  border: 2px solid #58d2b2;
  border-radius: 4px;
}
.header-left:hover {
  background-color: #58d2b2;
  color: #ffffff
}

main {
  margin: 40px 20px
}

/* html {
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #6c7686;
}

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

a:hover {
  transition: all 0.3s ease;
}
h1, p {
  margin: 0;
  width: 600px
}

h1 {
  font-weight: 600;
}


.index-button {
  cursor: pointer;
}

/* header ================================ */
/* header {
  height: 56px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f4f9;
}

.header-logo {
  margin-left: 56px;
  font-weight: 600;
  font-size: 20px;
  line-height: 56px;
  color: #6c7686;
  display: inline;
  background-color: green
  border: 2px solid #58d2b2;
}

.header-logo:hover {
  color: #58d2b2;
} */ */
