<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ini Punya Firman</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <a class="header-left" href="/" >Kembali</a>
    </header>
    <main>
      <div class=container>
        <h1>FIRMAN ALI MUTHOHAR</h1>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
