<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Challange Week 3</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <a class="header-left" href="/firman" >Klik untuk melihat tugas siapa</a>
    </header>
    <main>
      <h2>Code Challange Week 3</h2>
      <p class=description>Make new project using express.js and ejs to display your name using url ‘localhost:3000/[yourname]’!<br>
        (Deadline Sunday, 06.00 pm Jakarta Time)!<br>
        <br>
        Example:<br>
        If yourname is wawan, the url must be ‘localhost:3000/wawan’ and display your full name, such as ‘Wawan Setiawan’!
      </p>
    </main>
    <footer>
    </footer>
  </body>
</html>
